:root{
    --blue1:rgb(135,206,235);
    --blue2 : rgb(6,119,144);
    --yellow: rgb(255,215,0);
    --grey :rgb(176,196,222);
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin:0;
    padding: 0;
    font-size: large;
}  

/* Elements for the nav bar*/
button:focus {
    outline: none;
}
  
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
  
  
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--blue2);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.logo {
    width: 40%;
    float: left;
}

.login_text{
    width: 8%;
    float: left;
    font-size: 16px;
    color: #1898b8;
}

.login_text a{
    color: #1898b8;
}

.login_text a:hover{
    color: #676868;
}

/*End of the nav bar style*/
/*Colors of the background*/
.test_color {
    background-color: rgb(6,119,144);
}

nav {
    background-color: rgb(255,215,0);
}

/*For the blur divisions*/

.blur, .blur_div{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius:  25px;
    padding: 2%;
    text-align: justify;
}


/*To aligne items horizontally*/

img.alignLeft{
    margin-right: 15px;
    margin-top: 15px;
    float:left;
    vertical-align: middle;
    border-radius: 2%;
}

img.alignRight{
    margin-left: 15px;
    margin-top: 15px;
    margin : 15px 0 0 15px;
    float:right;
    border-radius: 2%;
}

p.alignLeft{
    text-align: left;
    text-align: justify;
    padding: 2%;
}

p.alignRight{
    text-align: right;
    text-align: justify;
    padding: 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text_same_line{
    display:inline;
}

.centered-link {
    display: block;
    text-align: center;
}

/*Text Style */

a.hover{
    color: white;
}

.container {
    margin-top: 50px;
}