<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>BabyVoltaire</title>

  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/album/">

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
  @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

  :root{
      --blue1:rgb(135,206,235);
      --blue2 : rgb(6,119,144);
      --yellow: rgb(255,215,0);
      --grey :rgb(176,196,222);
  }


  /*only for the nav bar*/
  ul.nav_bar,
  li.nav_bar,
  ol.nav_bar {
       margin: 0px;
       padding: 0px;
       list-style: none;
  }
  /**/
    * {
      margin:0;
      padding: 0;
      font-size: large;
      box-sizing: border-box !important;
      transition: ease all 0.5s;
  }
  
  *, *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  html {
      scroll-behavior: smooth;
  }

  /*Colors of the background*/
  .test_color {
      background-color: rgb(6,119,144);
  }

  nav {
      background-color: rgb(255,215,0);
  }

  body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     background-image: url('https://st3.depositphotos.com/3894705/17563/i/600/depositphotos_175633760-stock-photo-seamles-paper-template-with-dots.jpg');
     height: 100vh"
  }

  /*For the blur divisions*/

  .blur, .blur_div{
      background-color: rgba(255, 255, 255, 0.6);
      border-radius:  25px;
      padding: 2%;
      text-align: justify;
  }


  /*To aligne items horizontally*/

  img.alignLeft{
      margin-right: 15px;
      margin-top: 15px;
      float:left;
      vertical-align: middle;
      border-radius: 2%;
  }

  img.alignRight{
      margin-left: 15px;
      margin-top: 15px;
      margin : 15px 0 0 15px;
      float:right;
      border-radius: 2%;
  }

  p.alignLeft{
      text-align: left;
      text-align: justify;
      padding: 2%;
  }

  p.alignRight{
      text-align: right;
      text-align: justify;
      padding: 2%;
  }

  .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .text_same_line{
      display:inline;
  }

  .centered-link {
      display: block;
      text-align: center;
  }

  img.petite_img{
    max-width : 45%;
    height : auto;
  }

  img.add_padding{
    padding-bottom:50vh;
  }
  /*Text Style */
  a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
  }
  a.hover{
      color: white;
  }

  a{
      text-decoration: none !important;
      outline: none !important;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }

  .container {
      margin-top: 50px;
  }

  .btn_lecon{
    border-radius: 12px;
    background-color: rgb(6,119,144);
    color :rgb(255,215,0);
    margin-top : 20px ;
    margin-bottom: 20px;
    padding: 12px 28px;
    border: none;
    transition-duration: 0.4s;
  }

  .btn_lecon:hover {
  background-color: rgb(255,215,0);
  color: rgb(6,119,144);
  }

  /*Nav bar*/
  .navbar-form input {
      border: none !important;
  }
  .navbar-light .navbar-nav .nav-link {
      color: var(--blue2);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 15px;
      padding-left: 15px;
      font-size: 16px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
      color: #000000;
  }

  .logo {
      width: 40%;
      float: left;
  }
  .login_text{
     width: 8%;
     float: left;
     font-size: 16px;
     color: #1898b8;
  }

  .login_text a{
      color: #1898b8;
  }

  .login_text a:hover{
      color: #676868;
  }
</style>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255,215,0);">
      <a class="logo" href="#"><img src="/images/logo.png" alt="" width="70" height="50" class="d-inline-block align-text-top"></a>

      <!--Sert juste à cacher le bouton -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>


      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav_bar">
              <li class="nav-item nav_bar">
                 <a class="nav-link" href="./home.ejs">ACCUEIL</a>
              </li>
              <li class="nav-item nav_bar">
                 <a class="nav-link" href="#">MON COMPTE</a>
              </li>
              <li class="nav-item nav_bar">
                 <a class="nav-link" href="#">LISTE D'EXERCICES</a>
              </li>
              <li class="nav-item nav_bar">
                 <a class="nav-link" href="#">MES LEÇONS</a>
              </li>
          </ul>
      </div>
      <div><a><% if (isAuthenticated) { %>
        <li class="nav-item nav_bar">
          <a class="nav-link font-weight-bold" style="color: rgb(6,119,144);" href="/auth/Logout">DECONNEXION</a>
        </li>
      <% } else { %>
        <li class="nav-item nav_bar">
          <a class="nav-link font-weight-bold" style="color: rgb(6,119,144);" href="/auth">CONNEXION</a>
        </li>
      <% } %></a></div>
      </nav>
  </header>

  <main>
      <div class="bg-image pt-5 test_footer" 
        style="background-image: url('https://st3.depositphotos.com/3894705/17563/i/600/depositphotos_175633760-stock-photo-seamles-paper-template-with-dots.jpg')
        ;height: 170vh">
        <div class="container">
          <h1 style='color: rgb(6,119,144);' class="text-center">Leçons</h1><br>
          <form>
            <div class="row">
              <div class="col">
                <label for="theme" style='color: rgb(6,119,144);'><b>Choissez un thème:</b></label>
                <select class="form-control col-md-6" id="theme" onchange="updateSecondSelect()">
                  <option value="">--Thème--</option>
                  <option value="temps">Temps de l'indicatif</option>
                  <option value="homonyme">Homonyme</option>
                </select>
              </div>

              <div class="col">
                <label for="secondSelect" style='color: rgb(6,119,144);'><b>Lequel en particulier ?</b></label>
                <select class="form-control col-md-6" id="secondSelect">
                  <option value="">-- sous thème--</option>
                </select>
              </div>
            </div>
              <button type="button" onclick="updateOutput()" class="btn_lecon"><b>Afficher la leçon !</b></button>
            
          </form>
        
          <div id="output"></div>
          
          <script>
            function updateSecondSelect() {
              var firstSelect = document.getElementById("theme");
              var secondSelect = document.getElementById("secondSelect");

              // Clear existing options
              secondSelect.innerHTML = "";

              // Get the selected value from the first select menu
              var selectedValue = theme.value;

              // Determine the options for the second select menu based on the selected value
              if (selectedValue === "temps") {
                addOption(secondSelect, "passe", "Passé simple");
                addOption(secondSelect, "compose", "Passé composé");
                addOption(secondSelect, "imparfait", "Imparfait");
                addOption(secondSelect, "plusparfait", "Plus-que-Parfait");
                addOption(secondSelect, "present", "Présent Simple");
                addOption(secondSelect, "futur", "Futur Simple");
              } else if (selectedValue === "homonyme") {
                addOption(secondSelect, "a/a", "A et à");
                addOption(secondSelect, "et/est", "Et et est");
              }
            }

            function addOption(selectElement, value, text) {
              var option = document.createElement("option");
              option.value = value;
              option.text = text;
              selectElement.appendChild(option);
            }

            function updateOutput() {
              const output = document.getElementById("output");
              const value1 = document.getElementById("theme").value;
              const value2 = document.getElementById("secondSelect").value;

              let text = "";

              if (value1 == "temps"){
                if (value2 == "imparfait") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>L'imparfait de l'Indicatif</h2><p>L'imparfait est un temps du passé. Il permet d'expliquer des habitudes, des faits du passé. Dans un récit, il permet de décrire un lieu, un personnage, etc.<br>Les terminaisons de l'imparfait, <b>-ais, -ais, -ait, -ions, -iez, -aient</b>, s'ajoutent au <b>radical</b> du participe présent.<br>Prenons l'exemple du verbe <i>prendre</i> :<br>participe présent : <b>pren</b>ant ; → imparfait : je <b>pren</b>ais, tu <b>pren</b>ais…<br><b>Attention à ne pas oublier le -i- des terminaisons <i>-ions</i> et <i>-iez</i></b>.<br><i>Hier nous travaill<b>ions</b>, aujourd'hui nous nous reposons.<i></p>";
                } else if (value2 == "passe") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>Le Passé Simple</h2><p>Le passé simple est un temps du passé qui s'utilise surtout à l'écrit, aux <b>3èmes personnes du singulier et du pluriel</b>. Dans les récits, il est associé à l'imparfait pour une action précise, limitée dans le temps.<br>Les terminaisons du passé simple sont :<ul><li>pour les verbes du <b>1er groupe</b> : <b>-ai, -as, -a, -âmes, -âtes, -èrent </b>; Exemple : j'aimai, tu aimas, il aima, nous aimâmes, vous aimâtes, ils aimèrent</li><li>pour les verbes du <b>2e groupe</b> : <b>-is, -is, -it, -îmes, -îtes, -irent</b> ; Exemple : je finis, tu finis, il finit, nous finîmes, vous finîtes, ils finirent</li><li>pour les verbes du <b>3e groupe</b>, ils y a trois terminaisons possibles : celles du <b>2ème groupe</b> pour les verbes en <b>-ir</b> ou en <b>-re</b> ou bien pour les verbes en <b>-oir</b> : <b>-us, -us, -ut, -ûmes, -ûtes, -urent</b>. Exemple : je voulus, tu voulus, il voulut, nous voulûmes, vous voulûtes, ils voulurent</li></ul><b>Attention aux verbes tenir, venir et leurs composés ! </b> Leurs terminaisons sont : <b>-ins, -ins, -int, -înmes, -întes, -inrent</b> Exemple : venir : je vins, tu vins, ils vint, nous vînmes, vous vîntes, ils vinrent.</p>";
                } else if (value2 == "compose") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>Le Passé Composé</h2><p>Le passé composé est un temps du passé. Dans un récit, il permet de rapporter des évènements qui se sont déroulés et qui sont achevés.<br>Le passé composé est un temps composé formé de <b>l'auxiliaire avoir ou être</b> au <b>présent</b> et du <b>participe passé</b> du verbe conjugué, dont les terminaisons sont, quel que soit la personne, <b>-é</b> pour les verbe du 1er groupe ou bien <b>-i</b> pour les verbes du 2ème groupe ou les verbes en -ir (finir par exemple) ou bien <b>-u</b> pour les verbes en -re et en -oir.<br>Exemple : j'ai mangé, tu as mangé, il a mangé, ...<br>Ou avec l'auxiliaire être : je suis parti, tu es parti, il est parti<br><b>Attention à l'accord du participe passé !</b> Voici ci-dessous deux fiches récapitulatives :<br></p><img class='petite_img alignLeft' src='https://i0.wp.com/data0.eklablog.com/loustics/mod_article2803113_1.jpg?zoom=2'/><img class='petite_img alignRight'src='https://i0.wp.com/data0.eklablog.com/loustics/mod_article2803113_3.jpg?zoom=2'/>";
                } else if (value2 == "plusparfait") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>Le Plus-que-Parfait</h2><p>Le plus-que-parfait est un temps du passé. Il précise qu'une action s'est déroulée avant une autre qui a déjà eu lieu dans le passé. Cette action peut être exprimée avec un passé composé, un imparfait ou un passé simple. Vous pouvez employer le plus-que-parfait lorsque vous souhaitez marquer l'antériorité d'une action terminée par rapport à une autre aussi située dans le passé. Le plus-que-parfait peut également être utilisé lorsque vous transformez une phrase avec un verbe au passé simple ou au passé composé du style direct au style indirect. <br>Le plus-que-parfait est un temps composé formé de <b>l'auxiliaire avoir ou être</b> à <b>l'imparfait</b> et du <b>participe passé</b> du verbe conjugué, dont les terminaisons sont, quel que soit la personne, <b>-é</b> pour les verbe du 1er groupe ou bien <b>-i</b> pour les verbes du 2ème groupe ou les verbes en -ir (finir par exemple) ou bien <b>-u</b> pour les verbes en -re et en -oir.</p>";
                } else if (value2 == "present") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>Le Présent de l'Indicatif</h2><p>Les terminaisons du présent sont :<ul><li>pour les verbes du <b>1er groupe</b> : <b>-e, -es, -e, -ons, -ez, -ent </b>; Exemple : j'aime, tu aimes, il aime</li><li>pour les verbes du <b>2e groupe</b> : <b>-is, -is, -it, -issons, -issez, -issent</b> ; Exemple : il finit, ils finissent</li><li>pour les verbes du <b>3e groupe</b> : <b>-s, -s, -t, -ons, -ez, -ent</b>. Exemple : je cours, tu cours, il court</li></ul><b>Attention aux verbes du 3e groupe </b>: ils présentent des <b>irrégularités</b> !<ul><li>Les verbes en <b>-dre</b> conservent au singulier la consonne finale d de leur radical… Exemple : prendre : je prends, il prend… sauf ceux en -indre et -soudre. Exemple : éteindre : j'éteins, il éteint</li><li> Beaucoup de verbes de ce groupe ont <b>plusieurs radicaux</b>. Exemples : je peins, nous peignons je reçois, nous recevons, ils reçoivent</li></ul></p>";
                } else if (value2 == "futur") {
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>Le Futur Simple</h2><p>Quand on conjugue un verbe au futur, il faut se demander <b>à quel groupe il appartient</b>.<ul><li>Les terminaisons du <b>1er groupe</b> sont : <b>-erai, -eras, -era, -erons, -erez, -eront</b>. Exemple avec aimer : j'aimerai, nous aimerons</li><li>Les terminaisons du <b>2e groupe </b>sont : <b>-irai, -iras, -ira, -irons, -irez, -iront</b>. Exemple avec finir : je finirai, nous finirons</li><li>Les terminaisons du <b>3e groupe</b> sont : <b>-rai, -ras, -ra, -rons, -rez, -ront</b>. Exemple avec sortir : je sortirai, nous sortirons</li><b>Attention, le radical des verbes du 3e groupe, au futur, n'est pas toujours le même qu'au présent</b>. <br>Exemple : <br>faire - je fais, je ferai<br>voir - je vois, je verrai</ul></p>";
                } else {
                  text = "<p>Default text</p>";
                }
              } else if (value1 == "homonyme"){
                if (value2 == "a/a"){
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>« a » ou « à » ? Avec ou sans accent ?</h2><p>Alors, doit-on écrire <b>« a » ou « à »</b> ? Vous pouvez remplacer ce mot par « <b>avait</b> » ? C'est alors une forme du verbe « <b>avoir</b> », et <b>on ne met pas d'accent</b> :<br><i>Exemple : Il <b>a</b> de l'expérience. = Il <b>avait</b> de l'expérience.</i><br><br>Sinon, c'est qu'il s'agit de la <b>préposition « à »</b>, laquelle <b>prend toujours un accent grave</b>.</p>";
                }else if (value2 == "et/est"){
                  text = "<h2 style='color: rgb(6,119,144);' class='text-center'>« et » ou « est » ?</h2><p>« <b>Et</b> » et « <b>est</b> » se prononcent presque de la même façon : le premier se prononce « é », le deuxième « è », mais il n'est pas rare de trouver écrit « elle n'<b>et</b> pas revenue de sa surprise » pour « elle n'<b>est</b> pas revenue de sa surprise ».<br><br>Vous pouvez remplacer ce mot par « <b>était</b> » ? C'est alors <b>une forme du verbe « être »</b>, qui s'écrit « <b>est</b> ».<br>Dans le cas contraire, il s'agit de la <b>conjonction de coordination « et »</b>.</p>";
                }else {
                  text = "<p>Default text</p>";
                }
              }

              output.innerHTML = text;
            }
          </script>
        </div>
      </div>
  </main>

  <footer class="text-white py-3 test_color fixed-bottom" style="background-color: rgb(6,119,144)">
        <a href="#" style="color: rgb(255,215,0);" class="text-decoration-none centered-link">Back to top</a>
  </footer>
</body>

</html>