<!DOCTYPE html>
<html lang="en">



<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<!-- site metas -->
<title>Login and Registration</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- style css -->
<style type="text/css">
  /*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;


/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

:root{
     --blue1:rgb(135,206,235);
     --blue2 : rgb(6,119,144);
     --yellow: rgb(255,215,0);
     --grey :rgb(176,196,222);
 }

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     background-image: url('https://st3.depositphotos.com/3894705/17563/i/600/depositphotos_175633760-stock-photo-seamles-paper-template-with-dots.jpg');
     height: 100vh"
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--blue2);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.logo {
    width: 40%;
    float: left;
}

.login_text{
     width: 8%;
     float: left;
     font-size: 16px;
     color: #1898b8;
}

.login_text a{
     color: #1898b8;
}

.login_text a:hover{
     color: #676868;
}


.test_color {
    background-color: rgb(6,119,144);
}
.centered-link {
      display: block;
      text-align: center;
  }

/*Login and Create account page*/

.container{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     max-width: 430px;
     width: 100%;
     background: #fff;
     border-radius: 7px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
     display: none;
}
#check:checked ~ .registration{
     display: block;
}
#check:checked ~ .login{
     display: none;
}
#check{
     display: none;
}
.container .form{
     padding: 2rem;
}
.form header{
     font-size: 2rem;
     font-weight: 500;
     text-align: center;
     margin-bottom: 1.5rem;
}
.form input{
     height: 60px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid #ddd;
     border-radius: 6px;
     outline: none;
}
.form input:focus{
     box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
     font-size: 16px;
     color: var(--blue2);
     text-decoration: none;
}
.form a:hover{
     text-decoration: underline;
}
.form input.button{
     color: var(--yellow);
     background: var(--blue2);
     font-size: 1.2rem;
     font-weight: 500;
     letter-spacing: 1px;
     margin-top: 1.7rem;
     cursor: pointer;
     transition: 0.4s;
}
.form input.button:hover{
     background: black;
}
.signup{
     font-size: 17px;
     text-align: center;
}
.signup label{
     color: var(--yellow);
     cursor: pointer;
}
.signup label:hover{
     text-decoration: underline;
}
</style>
</head>
<body>


<!-- header section start-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255,215,0);">
     <a class="logo" href="#"><img src="/images/logo.png" alt="" width="70" height="50" class="d-inline-block align-text-top"></a>

     <!--Sert juste à cacher le bouton -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>


     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav nav_bar">
             <li class="nav-item nav_bar">
                <a class="nav-link" href="/home/">ACCUEIL</a>
             </li>
             <li class="nav-item nav_bar">
                <a class="nav-link" href="/home/membreData">MON COMPTE</a>
             </li>
             <li class="nav-item nav_bar">
                <a class="nav-link" href="/exercices/">LISTE D'EXERCICES</a>
             </li>
             <li class="nav-item nav_bar">
                <a class="nav-link" href="/exercices/lecons">MES LEÇONS</a>
             </li>
         </ul>
     </div>
     <div><a><% if (isAuthenticated) { %>
       <li class="nav-item nav_bar">
         <a class="nav-link font-weight-bold" style="color: rgb(6,119,144);" href="/auth/Logout">DECONNEXION</a>
       </li>
     <% } else { %>
       <li class="nav-item nav_bar">
         <a class="nav-link font-weight-bold" style="color: rgb(6,119,144);" href="/auth">CONNEXION</a>
       </li>
     <% } %></a></div>
     </nav>
<!-- header section end-->

  <div class="container">
     <% if (messages.success) { %>
          <div class="alert alert-success">
          <%= messages.success %>
          </div>
      <% } %>
      
      <% if (messages.failure) { %>
          <div class="alert alert-danger">
          <%= messages.failure %>
          </div>
      <% } %>

      <% if (messages.error) { %>
          <div class="alert alert-success">
          <%= messages.error %>
          </div>
      <% } %>

    <input type="checkbox" id="check">
    <div class="login form">
      <header>CONNEXION</header>
      <form method="post" action="/auth/login">
          <input name="email" type="username" id="email" placeholder="email" required>
          <input name="password" type="password" id="password" placeholder="mot de passe" required>
          <button type="submit" class="btn btn-dark btn-block">Connexion</button>
      </form>
      <div class="signup">
        <span class="signup">Vous n'avez pas de compte ?
         <label for="check">En créer un !</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Enregistrez-vous !</header>
      <form action="/auth/signup" method="post">
        <input type="text" name="email" placeholder="Votre email" required>
        <input type="password" name="password" placeholder="Créez un mot de passe" required>
        <input type="password" name="confirmpsw" placeholder="Confirmez le mot de passe" required>
        <button type="submit" class="button">Enregistrer</button>
      </form>
      <div class="signup">
        <span class="signup">Vous avez déjà un compte ?
         <label for="check">Connexion</label>
       </span>
      </div>
    </div>
  </div>
  <footer class="text-white py-3 test_color fixed-bottom">
     <a href="#" style="color: rgb(255,215,0);" class="text-decoration-none centered-link">Back to top</a>
     </footer>
</body>
</html>